.button{
  @include uppercase;
  @include uppercase-limit-large;
  background-color: $medium-grey;
  color: white;
  text-align: center;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  padding: 1rem 2rem;
  transition: all 0.2s ease-in-out;

  @include breakpoint(medium){
    padding: 1.25rem 2.5rem;
  }

  @include breakpoint(large){
    padding: 1.25rem 3rem;
  }

  &:focus{
    outline: none;
  }

  &:hover{
    background-color: darken($medium-grey, 10%);
    cursor: pointer;
  }

  .teal-container &{
    background-color: darken($flowchart-teal, 12%);

    &:hover{
      background-color: darken($flowchart-teal, 17%);
    }
  }

  .promo-container &{
    background-color: $flowchart-orange;
    color: $dark-grey;

    &:hover{
      background-color: darken($flowchart-orange, 5%);
      color: $dark-grey;
    }
  }
}

.button.cta-button{
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.10);
  
  &:focus,
  &:active{
    transform: translateY(0.25rem);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
    color: $white;

    .promo-container &{
      color: $dark-grey;
    }
  }
}

.button{
  span.inline-arrow{
    display: inline-block;
    margin-top: -0.5px;
    border-top: 1.5px solid lighten($medium-grey, 5%);
    border-right: 1.5px solid lighten($medium-grey, 5%);
    transform: rotate(45deg) translateX(-1px) translateY(-1px);
    transition: all 0.2s ease-in-out;
    margin-left: 0.5rem;

    width: 6px;
    height: 6px;

    @include breakpoint(large){
      width: 8px;
      height: 8px;
    }
  }
  
  &:hover{
  
    span.inline-arrow{
      border-top-color: $white;
      border-right-color: $white;
    }
  }
}

.button.button-outline{
  background-color: transparent;
  border: 1px solid lighten($medium-grey, 10%);
  color: $medium-grey;
  transition: background-color 0.2s ease;

  span.inline-arrow{
    border-top-color: lighten($medium-grey, 10%);
    border-right-color: lighten($medium-grey, 10%);
  }

  &:hover{
    transition: all 0.2s ease;
    color: $medium-dark-grey;
    border: 1px solid lighten($medium-dark-grey, 10%);

    span.inline-arrow{
      border-top-color: lighten($medium-grey, 10%);
      border-right-color: lighten($medium-grey, 10%);
    }
  }
}

.button.button-outline-to-solid{
  background-color: transparent;
  border: 1px solid lighten($medium-grey, 10%);
  color: $medium-grey;
  transition: all 0.2s ease-in-out;

  span.inline-arrow{
    border-top-color: lighten($medium-grey, 5%);
    border-right-color: lighten($medium-grey, 5%);
  }

  &:hover{
    color: $white;
    background-color: $medium-dark-dark-grey;
    border-color: $medium-dark-dark-grey;

    span.inline-arrow{
      border-top-color: $white;
      border-right-color: $white;
    }
  }
}

.button.raised-button{
  border-bottom: 7px solid $medium-dark-dark-grey;
  transition: none;
  transform: translateY(0);
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;

  @include breakpoint(mmlarge){
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &:hover{
    border-bottom: 3px solid $medium-dark-dark-grey;
    // transform: translateY(2px);
    margin-bottom: 4px;
    transform: translateY(4px);
  }

  &:focus{
    border-bottom: 1px solid $medium-dark-dark-grey;
    margin-bottom: 6px;
    transform: translateY(6px);
    // transform: translateY(4px);
  }

  &.raised-button-orange{
    background-color: $flowchart-orange;
    color: $dark-grey;
    border-bottom-color: darken($flowchart-orange, 15%);
  }

  &.raised-button-teal{
    background-color: $flowchart-teal;
    color: $dark-grey;
    border-bottom-color: darken($flowchart-teal, 15%);
  }

  &.raised-button-grey{
    background-color: $medium-light-grey;
    color: $dark-grey;
    border-bottom-color: darken($medium-grey, 15%);
  }
}