.portfolio-header-container{

  h1{
    @include h1-portfolio;
  }
}

.portfolio-header-block{
  padding: 10px 30px 80px;

  @media only screen and (min-width: 500px){
    // padding: 70px 30px 90px;
    padding: 20px 30px 90px;
  }

  @include breakpoint(medium){
    padding: 110px 30px 120px;
  }

  @include breakpoint(mmlarge){
    padding: 140px 30px 160px;
  }
}

p.person-role{
  @include uppercase;
  text-align: center;

  margin-top: 10px;
  margin-bottom: 20px;
  
  @media only screen and (min-width: 500px){
    margin-top: 10px;
    margin-bottom: 30px;
  }

  @include breakpoint(medium){
  }

  @include breakpoint(mlarge){
    margin-top: 15px;
    margin-bottom: 35px;
  }

  @include breakpoint(large){
    margin-top: 20px;
    margin-bottom: 35px;
  }
  
  @include breakpoint(xlarge){
    margin-top: 20px;
    margin-bottom: 40px;
  }

  @include breakpoint(xxlarge){
    margin-top: 22px;
    margin-bottom: 45px;
  }

  .white-container &{
    color: $flowchart-teal;
  }

  .teal-container &{
    color: $white;
  }
}

p.person-description{
  font-family: 'Lora', 'Georgia', serif;
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-size: 14px;
  // text-align: center;

  @media only screen and (min-width: 375px){
    font-size: 15px;
  }

  @media only screen and (min-width: 500px){
    font-size: 16px;
    max-width: 450px;
    margin: auto;
  }

  @include breakpoint(medium){
    // text-align: center;
    max-width: 560px;
    line-height: 1.8;
    font-size: 16.5px;
    margin: auto;
  }

  @include breakpoint(mlarge){
    font-size: 17px;
    max-width: 575px;
  }

  @include breakpoint(large){
    font-size: 17px;
    max-width: 575px;
  }

  @include breakpoint(xlarge){
    line-height: 1.9;
    font-size: 18px;
    max-width: 720px;
  }

  @include breakpoint(xxlarge){
    font-size: 18.5px;
    max-width: 720px;
  }
  
  .white-container &{
    color: $medium-grey;
  }

  .teal-container &{
    color: darken($flowchart-teal, 20%);
  }

  // span{
  //   font-family: 'Lora', 'Georgia', serif;
  //   display: block;
  //   margin: 0;
  //   padding: 0;
  //   line-height: 1.5;

  //   @media only screen and (min-width: 500px){
  //     display: inline;
  //   }

  //   + span{

  //   }
  // }
}

.personal-case-studies-container{

  &:after{
    border-top-color: $light-grey;
  }
}