.social-media{
  text-align: center;

  .social-media-icon{
    width: 35px;
    height: 35px;
    overflow: hidden;
    display: inline-block;
    margin: 0 8px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  
    span{
      opacity: 0;
    }
  }
}


.social-media-header{
  text-align: center;
  max-width: 300px;
  margin: 30px auto 0;

  @include breakpoint(large){
    max-width: none;
    margin: 20px auto 0;
  }

  @include breakpoint(xlarge){
    margin: 25px auto 0;
  }

  .social-media-icon{
    color: $medium-grey;
    height: 25px;
    display: inline-block;
    margin: 0 8px;
    background-size: 20px auto;
    background-repeat: no-repeat;

    background-position: left center;
    margin: 0 10px;
    padding: 0;
    padding-left: 26px;
    line-height: 25px;  

    font-family: 'Lora', 'Georgia', serif;
    font-size: 14px;

    @include breakpoint(medium){
      font-size: 15px;
      background-size: 22px auto;
      padding-left: 27px;
      height: 30px;
      line-height: 30px;
    }
    
    @include breakpoint(large){
      font-size: 16px;
      background-size: 25px auto;
      padding-left: 30px;
    }

    @include breakpoint(xlarge){
      font-size: 17px;
    }

    @include breakpoint(xxlarge){
      font-size: 19px;
    }

    &:hover{
      color: $flowchart-teal;
    }
  }
}

.social-media-icon{
  &.instagram{
    background-image: url('https://res.cloudinary.com/airship/image/upload/v1576708700/assets/static/instagram-bluegrey_gdvy4w.svg');

    &:hover{
      background-image: url('https://res.cloudinary.com/airship/image/upload/v1576708804/assets/static/instagram-blue_kyqozk.svg'); 
    }
  }

  &.github{
    background-image: url('https://res.cloudinary.com/airship/image/upload/v1576708825/assets/static/github-bluegrey_a3wlad.svg');

    &:hover{
      background-image: url('https://res.cloudinary.com/airship/image/upload/v1576708739/assets/static/github-blue_oo0sgd.svg'); 
    }
  }

  &.linkedin{
    background-image: url('https://res.cloudinary.com/airship/image/upload/v1576708848/assets/static/linkedin-bluegrey_weowgu.svg');

    &:hover{
      background-image: url('https://res.cloudinary.com/airship/image/upload/v1576708752/assets/static/linkedin-blue_txq79w.svg'); 
    }
  }

  &.codepen{
    background-image: url('https://res.cloudinary.com/airship/image/upload/v1576708823/assets/static/codepen-bluegrey_grmibq.svg');

    &:hover{
      background-image: url('https://res.cloudinary.com/airship/image/upload/v1576708730/assets/static/codepen-blue_namzvp.svg'); 
    }
  }

  &.airship{
    background-image: url('https://res.cloudinary.com/airship/image/upload/v1576708732/assets/static/airshipcms-bluegrey_mnzbrn.svg');

    &:hover{
      background-image: url('https://res.cloudinary.com/airship/image/upload/v1576708830/assets/static/airshipcms-blue_qpjadk.svg'); 
    }
  }

  &.email{
    background-image: url('https://res.cloudinary.com/airship/image/upload/v1576708781/assets/static/email-bluegrey_cty6gn.svg');

    &:hover{
      background-image: url('https://res.cloudinary.com/airship/image/upload/v1576708680/assets/static/email-blue_i4ewe1.svg'); 
    }
  }

  &.download{
    background-image: url('https://res.cloudinary.com/airship/image/upload/v1576708813/assets/static/download-bluegrey_bmj9xz.svg');

    &:hover{
      background-image: url('https://res.cloudinary.com/airship/image/upload/v1576708724/assets/static/download-blue_xzgtwe.svg'); 
    }
  }

  &.gomagames{
    background-image: url('https://res.cloudinary.com/airship/image/upload/v1576708755/assets/static/gomagames-bluegrey_vql17p.svg');

    &:hover{
      background-image: url('https://res.cloudinary.com/airship/image/upload/v1576708858/assets/static/gomagames-blue_ctgtjc.svg'); 
    }
  }
}